/* Customizations to reduce padding a bit, since our tables are kinda big */
select {
    height: 32px;
    padding: 2px;
    border-radius: 4px; }

td {
    padding: 6px 8px;
    text-align: left; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    height: 32px;
    padding: 0 15px;
    line-height: 32px; }

/*
.basic {
    font-weight: bold;
    color: #fff; }
.fine {
    color: #3c3; }
.superior {
    color: #06f; }
.epic {
    color: #c0f; }
.legendary {
    color: #e6bc16; }
*/

input[type="number"] {
    width: 125px;
}